body {
    background-image: url("https://github.com/michaelanthonyyy/portfolio_launch/blob/main/public/assets/images/bg.png?raw=true");
    background-size: cover;
    background-position: 50%;
}

#title {
    color: white;
}